<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="4"
	verbose="1">
	<listeners>
		<listener class-name="com.report.utility.TestListener" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.test.Selenium4RelativeLocators.LoginAppWithRelativeLocators"/>
			<class name="com.test.Selenium4RelativeLocators.ClickOnLinkWithRelativeLocators"/>
			<class name="com.test.Selenium4WindowsAndTabs.OpenNewWindow" />
			<class name="com.test.Selenium4WindowsAndTabs.OpenNewTab" />
			<class name="com.test.Selenium4ChromeDevTools.DifferentNetworkSpeed"></class>
			<class name="com.test.Selenium4ChromeDevTools.EmulateGeoLocation"></class>
			<class name="com.test.Selenium4ChromeDevTools.GettingChromeConsoleLogs"></class>
			<class name="com.test.Selenium4ChromeDevTools.InterceptNetwork"></class>
			<class name="com.test.Selenium4ChromeDevTools.OfflineChromeNetwork"></class>
			<class name="com.test.Selenium4ChromeDevTools.OpenInsecureWebsite"></class>
		</classes>
	</test>
</suite>